#map {
    height: 400px;
}

#results {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: red;
}

.type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

#pollution {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}