#map {
    height: 400px;
}

#results {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: red;
}

.type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

@media only screen and (min-width: 600px) {
    #pollution {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .submit {
        margin-left: 10px;
    }
}

#mobile-pollution {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}

.m_submit {
    margin-left: 10px;
}

.m_radio input {
    margin-left: 10px;
    flex-flow: row wrap;
}